.animation-window {
    width: 630px; /* Width of exactly ONE frame */
    height: 800px; /* Height of the frame */
    overflow: hidden;
    position: relative;
}

.svg-filmstrip {
    display: block;
    position: absolute;
    will-change: transform;
    transform: translateX(0px);
    min-width: 63002px; /* need this to stop svg shrinking to fit element */
}
