.animation-window {
    width: 320px; /* 100%; /* Width of the screen... stretch SVG to suite */
    height: 400px; /* clip the animation at this point */
    overflow: hidden;
    position: relative;
}

.svg-filmstrip {
    display: block;
    position: absolute;
    will-change: transform;
    transform: translateX(0px);
    min-width: 64000px; /* 20000%; /* ie (#frames * frame width)...need this to stretch svg to fit screen width * #frames */
}
