.animation-window {
    width: 1000px;
    min-width: 1000px;
    /* width & min-width fixes width at large and small screens */
    height: 3000px ; /* clip the animation height at this point */
    overflow: hidden;
    position: relative;
}

.svg-filmstrip {
    display: block;
    position: absolute;
    will-change: transform;
    transform: translateX(0px);
    min-width: 10000px; /* ie ie 10 frames * 1000px */
    width: 10000px; /* ie 10 frames * 1000px */
    /* width & min-width fixes width at large and small screens */
}
.svg-starter {
    display: block;
    position: absolute;
    will-change: transform;
    transform: translateX(0px);
    min-width: 1000px; /* ie 1 frame 1000px */
    width: 1000px; /* ie 5 frames * 1000px */
    /* width & min-width fixes width at large and small screens */
}
